<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <form novalidate [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Curso</ion-label>
              <ion-input type="text" name="curso" required formControlName="curso"></ion-input>
            </ion-item>
          
            <ion-item *ngIf="!curso.valid && curso.touched">
              <ion-text color="danger">Introduce el curso</ion-text>
            </ion-item>
          
            <ion-item>
              <ion-label position="floating">Puntuación</ion-label>
              <ion-input min="0" type="number" name="puntuacion" required formControlName="puntuacion"></ion-input>
            </ion-item>
          
            <ion-item *ngIf="!puntuacion.valid && puntuacion.touched">
              <ion-text color="danger">La puntuación no es válida</ion-text>
            </ion-item>

            <ion-item *ngIf="imageSrc">
              <ion-thumbnail>
                <img [src]="imageSrc" />
              </ion-thumbnail>
            </ion-item>

            <ion-item class="ion-float-right" lines="none">
              <ion-button (click)="addCurso()" type="submit" size="small">+</ion-button>
            </ion-item>

            <ion-item class="ion-float-left" lines="none">
              <ion-button (click)="takePicture()" type="submit" size="small">
                <ion-icon slot="start" name="camera"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row *ngFor="let curso of cursos">
      <ion-col size="12">
        <ion-card (click)="viewDetails(curso.getId())">
          <ion-card-header>
            <ion-card-subtitle>{{curso.getCurso()}}</ion-card-subtitle>
            <ion-card-title>Puntuación: {{curso.getPuntuacion()}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-thumbnail>
              <img *ngIf="curso?.getImgSrc()" [src]="curso?.getImgSrc()"/>
            </ion-thumbnail>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll></ion-infinite-scroll>
</ion-content>
